body {
    background: rgb(34,148,195);
    background: linear-gradient(0deg, rgba(34,148,195,1) 0%, rgba(253,184,45,1) 100%);
    background-attachment: fixed;
}
p {
    font-family: Arial;
    font-weight: 600;
    padding :0px;
}

#app {
    transform: scale(0.95);
}

#calculator {
    border-color: black;
    margin: 0 auto;
}

#logo {
    display: block; 
    margin: auto; 
}
#screen {
    padding: 10px;
    font-family:'Consolas';
    color: lawngreen;
    font-weight: 600;
    font-size: 14px;
    width: 300px;
    border-radius: 3px;
    background-color: rgb(29, 44, 44);
}

#calculator-button {
    font-family: Arial;
    font-weight: 600;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 14px;
    background-color: beige;
    transition: ease-in-out 0.15s;
}

#calculator-button:hover:enabled {
    background-color: white;
    cursor: pointer;
    scale: 1.1;
}

#choices {
    visibility:hidden;
    transition: ease-in-out 0.15s;
}
.buttonAnim {
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.out{
    font-family: Arial;
    font-weight: 600;
    border-style:dashed;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 14px;
    background-color: beige;
    transition: ease-in-out 0.25s;
}

.out:hover:enabled {
    background-color: white;
    cursor: pointer;
    scale: 1.02;
}

#reset-button{
    font-family: Arial;
    font-weight: 600;
    border-style:dashed;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 14px;
    background-color: beige;
    transition: ease-in-out 0.25s;
}

#reset-button:hover:enabled {
    background-color: white;
    cursor: pointer;
    scale: 1.02;
}

#timer-container {
    border: 2px solid rgb(230, 229, 229);
    width: 100%;
    background-color: #ddd;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    align-content: flex;
    gap:3px;
}

#timer-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(76, 175, 80);
    transition: width 0.1s linear, background-color 0.1s linear;
}

#timer-text {
    margin-top: -18px;
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-size: 12px;
    font-family: Arial;
    color: black;
    z-index: 2;
    text-shadow: 1px 1px rgb(117, 117, 117);
}

.wrongAns {
    background-color: lightgray;
    color: gray;
}
.correctAns {
    background-color: lime;
}

.top-bar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px rgb(40, 40, 40);
    z-index: 21;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.menu {
    margin-top: 50px;
    position: fixed;
    top: 30px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #444;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    z-index: 20;
}

.menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background: #666;
}

.app {
    margin-top: 50px;
    margin-left: -35px;
    padding: 20px;
    width: 100vh;
}

#contenthistory {
    font-family: Arial;
    font-weight: 600;
    background-color: #ddd;
    border-radius: 4px;
    padding: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
    z-index:100;
    gap:10px;
}

/* Centered container */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 500px;
    z-index:100;    
}

/* Show the modal */
.overlay.active {
    visibility: visible;
    opacity: 1;
}

/* Close button */
.close-btn {
    background: white;
    text-align: center;
    font-size: 12px;
    width:30px;
    height:30px;
    border: 1px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    z-index:1000;

}
